<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 标识映射文件  -->
<mapper namespace="com.zjcds.dao.StudentDao">
	
	<select id="findAll" resultType="com.zjcds.entity.Student">
		select id,sname,sex,score from student
	</select>
	
	<select id="getTotal" resultType="java.lang.Integer">
		select count(*) from student
	</select>
	
</mapper>